.hints .row {
    margin-top: 5px;
}

.colorPeg {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50px;
}

.hintPeg {
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-radius: 50px;
}

.none {
    border: 2px solid white;
}

.black {
    background: black;
}

.blue {
    background: blue;
}

.brown {
    background: saddlebrown;
}

.green {
    background: green;
}

.pink {
    background: deeppink;
}

.red {
    background: red;
}

.white {
    background: white;
}

.yellow {
    background: yellow;
}

body .modal {
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    display: block;
}